<a href="https://colab.research.google.com/github/hakamiyan/colab-projects/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
 **python example code**
```

In [ ]:
print("hi")

hi

In [1]:
for number in range(1, 6, 2):

    print(number)

1
3
5

سلام

In [2]:
for number in range(1, 10):

    print(number)

1
2
3
4
5
6
7
8
9

In [10]:
for a in range(4):
  for b in range(2):
    print((a,b))

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(3, 0)
(3, 1)

In [9]:
for a in range(4):
  for b in range(2):

    print(f"[{a},{b}]")

[0,0]
[0,1]
[1,0]
[1,1]
[2,0]
[2,1]
[3,0]
[3,1]

In [11]:
a=12
if a<10 :
  print("you are child")
elif a==10:
  print("you are young")
else:
  print(" you are big old")

 you are big old

In [18]:
def greet():
    print("hi everyone")
    print(12*12)

greet()

hi everyone
144

In [22]:
def multiply(x, y):
    return x * y


print(multiply(2, 4))

8

In [23]:
def greet(first_name):
    print(f"hi {first_name}")


greet("")

m = greet(" ")
print(m)
# دو خط بالا یا خلاصه زیر
print(greet(m))

hi
hi
None
hi None
None

It prints a value from the function, and since it does not return anything, it prints `None`

In [35]:
#It prints a value from the function, and since it does not return anything, it prints None

def greet(first_name):
    print(f"hi {first_name}")

m = greet(" 1")
print(m)

hi  1
None

because  : return a value from  a function

In [33]:
def greet(first_name):
  return f"hi {first_name}"
print(greet("reza"))

hi reza

In [15]:

A = int(input("enter a number between 0 until 20 :"))
print(type(A))

if 0 <= A <= 9:
    print("mardood")
elif 10 <= A <= 15:
    print("motavaset")
elif 16 <= A <= 18:
    print("good")
elif 19 <= A <= 20:
    print("awesome")
else:
    print("your number is invalid")

enter a number between 0 until 20 :20
<class 'int'>
awesome

In [ ]:
import numpy as np
# ایجاد یک آرایه یک‌بعدی
arr1 = np.array([1, 2, 3, 4, 5])
print("آرایه 1 بعدی:")
print(arr1)

# ایجاد یک آرایه دو‌بعدی (ماتریس)
arr2 = np.array([[1, 2, 3], [4, 5, 6]])
print("\nآرایه 2 بعدی:")
print(arr2)

آرایه 1 بعدی:
[1 2 3 4 5]

آرایه 2 بعدی:
[[1 2 3]
 [4 5 6]]

In [ ]:
a=8
if a<12 :
  print ("you are young")

you are young

In [ ]:
print(type("hi"))
print(type(range))
print(type(12))
print(type(2j))

<class 'str'>
<class 'type'>
<class 'int'>
<class 'complex'>